.horniman img{
    max-width: 50%;
    max-height: 50%;
}
.observatory img{
    max-width: 50%;
    max-height: 50%;
}
.tate img{
    max-width: 50%;
    max-height: 50%;
}

.breakfastclub img{
  max-width: 30%;
  max-height: 30%;
}

.rooftopeast img{
  max-width: 30%;
  max-height: 30%;
}

.boroughmarket img{
  max-width: 30%;
  max-height: 30%;
}

.onenewchange img{
  max-width: 30%;
  max-height: 30%;
}

.container {
  position: relative;
  text-align: center;
  color: white;
  font-family: 'Questrial', cursive;
  font-size: 40px;
}

.container img {
  max-width: 25%;
  max-height: 25%;
  margin-top: 60px;
  margin-bottom: 60px;
  }

.centered {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

.navbar-default {
  font-family: 'Questrial', sans-serif;
}

.mr-3 {
  max-width: 30%;
  max-height: 30%;
}
