#horniman img{
    max-width: 70%;
    max-height: 70%;
    margin: auto 0px auto 150px;
}
#horniman{
    margin: 50px auto 25px auto;
}
#observatory img{
    max-width: 70%;
    max-height: 70%;
    margin: auto 0px auto 150px;
}
#observatory{
    margin: 50px auto 25px auto;
}
#tate img{
    max-width: 70%;
    max-height: 70%;
    margin: auto 0px auto 150px;
}
#tate{
    margin: 50px auto 25px auto;
}
#breakfastclub img{
  max-width: 70%;
  max-height: 70%;
  margin: auto 0px auto 150px;
}
#breakfastclub{
    margin: 50px auto 25px auto;
}
#franks img{
    max-width: 70%;
    max-height: 70%;
    margin: auto 0px auto 150px;
}
#franks{
    margin: 25px auto 25px auto;
}
#rooftopeast img{
  max-width: 70%;
  max-height: 70%;
  margin: auto 0px auto 150px;
}
#rooftopeast{
    margin: 25px auto 25px auto;
}
#boroughmarket img{
  max-width: 70%;
  max-height: 70%;
  margin: auto 0px auto 150px;
}
#boroughmarket{
    margin: 25px auto 25px auto;
}
#onenewchange img{
  max-width: 70%;
  max-height: 70%;
  margin: auto 0px auto 150px;
}
#onenewchange{
    margin: 25px auto 25px auto;
}
#nunhead img{
  max-width: 70%;
  max-height: 70%;
  margin: auto 0px auto 150px;
}
#nunhead{
    margin: 25px auto 25px auto;
}
#hampstead img{
  max-width: 70%;
  max-height: 70%;
  margin: auto 0px auto 150px;
}
#hampstead{
    margin: 25px auto 25px auto;
}
#columbia img{
  max-width: 70%;
  max-height: 70%;
  margin: auto 0px auto 150px;
}
#columbia{
    margin: 25px auto 25px auto;
}
#venice img{
  max-width: 70%;
  max-height: 70%;
  margin: auto 0px auto 150px;
}
#venice{
    margin: 25px auto 25px auto;
}

.navbar-default {
  font-family: 'Questrial', sans-serif;
}

.container {
    position: relative;
    text-align: center;
    color: white;
    font-family: 'Questrial', sans-serif;
    font-size: 45px;
}

.container img {
  max-width: 25%;
  max-height: 25%;
  opacity: 0.8;
  margin-top: 60px;
  margin-bottom: 60px;
}

.centered {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

.containers {
  position: relative;
  text-align: center;
  color: white;
  font-family: 'Questrial', sans-serif;
  font-size: 40px;
}

.containers img {
  max-width: 25%;
  max-height: 25%;
  opacity: 0.8;
  margin-top: 60px;
  margin-bottom: 60px;
}

.centered1 {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

.col-md-6 h2 {
  font-family: 'Questrial', sans-serif;
}

.col-md-6 a {
  color: rgb(74, 107, 20);
}

.col-md-6 a:hover {
  color: rgb(81, 175, 166);
}
