h1{
    color: rgb(250, 194, 229);
    font-family: 'Shrikhand', cursive;
    text-align: center;
    font-size: 72px;

}
body {
    background-color: rgb(247, 168, 181);
    background: url("https://i.imgur.com/r3R7rZy.jpg");
    background-size: 40%;
    background-repeat: no-repeat;
    background-position: 50% -10%;
  }
