#header h1{
    text-align: center;
    font-family: 'Great Vibes', cursive;
    color: white;
    font-size: 100px;
    padding: 30px 50px 0px 50px;
}
.navbar-inverse {
  background-color: rgba(32, 35, 41,0.8);
  opacity: 0.7;
  font-family: 'Montserrat', sans-serif;
}
body{
    background-image: url("https://i.imgur.com/9DAgIiP.jpg");
    height: 100%;
    width: 100%;
    background-position: center;
    background-repeat: no-repeat;
    background-size: 100%;
}
#about p {
    font-family: 'Great Vibes', cursive;
    padding: 0px 250px 0px 250px;
    font-size: 30px;
    text-align: center;
    color: white;
}
#categories li a{
    color: black;
}
#categories li{
    display: inline;
    padding: 10px 70px 10px 70px;
    margin: 10px 80px 10px 80px;
    background-color: #77f4ab;
    font-family: 'Courgette', cursive;
    font-size: 30px;
    border-radius: 20px;
}
#categories li a:hover {
  color: #d580ff;
}
#categories ul {
    padding: 0px 0px 0px 0px;
    text-align: center;
    position: relative;
    top: 200px;
}
