#header h1{
    color: #77f4ab;
    font-family: 'Shrikhand', cursive;
    text-align: center;
    font-size: 72px;
}
body {
    background-color:white;
    background-size: 20%;
    background-repeat: no-repeat;
    background-position: 50% -10%;
    padding: 10px
  }
#categories li a{
    color: black;
}
#categories li{
    display: inline;
    padding: 10px 70px 10px 70px;
    margin: 10px 80px 10px 80px;
    background-color: #77f4ab;
    font-family: 'Courgette', cursive;
    font-size: 30px;
    border-radius: 20px;
}

#categories li a:hover {
  color: #d580ff;
}

#categories ul {
    padding: 0px 0px 0px 0px;
    text-align: center;
    position: relative;
    top: 200px;
}
#about p {
    font-family: 'Courgette', cursive;
    padding: 0px 250px 0px 250px;
    font-size: 20px;
    text-align: center;
}
